.container
{
    height:575px;
    width:350px;
    margin-top:20px;
    background-image:radial-gradient(#eeaeca,#94bbe9);
   margin-left:40%;
  
   border-style: solid;
}
#screen{
    height:60px;
    width:90%;
    background-color: white;
    margin-top:14px;
    margin-left:9px;
   background-color:#e0dfdf;
   font-size: 25px;
   border-style: ridge;
   border-width:7px;
   pointer-events:none;
   border-color: lawngreen;
    
}
.type-area{
    background-image:radial-gradient(#6ff4b8,#649df1);
height:73%;
width:92%;
margin-left:9px;
margin-top:15px;
border-style: ridge;
border-width:7px;
border-color: lawngreen;

}
.button{
    height:60px;
    width:60px;
    background-image:radial-gradient(#eeaeca,#94bbe9);
    margin-top:20px;
    margin-left:13.5px;
    border-style: ridge;
    border-width:4px;
    font-family: Charcoal, sans-serif;
    font-size:20pt;
}
.button-eq{
    
    height:60px;
    width:91%;
    background-color:lawngreen;
    color:blackwhite;
    margin-top:20px;
    margin-left:13.5px;
    border-style: ridge;
    border-width:4px;
    font-family: Charcoal, sans-serif;
    font-size:20pt;
}
.copyrighttext
{
    font: 20px Arial, sans-serif;
    font-size:9pt;
    font-weight:600;
    margin-left:20px;
}